
/.vs
/Source/obj
*.v2
.idea/.idea.EndHelper/.idea/.name
.idea/.idea.EndHelper/.idea/encodings.xml
.idea/.idea.EndHelper/.idea/indexLayout.xml
.idea/.idea.EndHelper/.idea/projectSettingsUpdater.xml
.idea/.idea.EndHelper/.idea/vcs.xml
.idea/.idea.EndHelper/.idea/workspace.xml
.vs/EndHelper/DesignTimeBuild/.dtbcache.v2
.vs/EndHelper/v17/.futdcache.v2
.vs/EndHelper/v17/.suo
.vs/EndHelper/v17/DocumentLayout.backup.json
.vs/EndHelper/v17/DocumentLayout.json
.vs/EndHelper/v17/.suo
.vs/EndHelper/v17/.futdcache.v2
.vs/EndHelper/DesignTimeBuild/.dtbcache.v2
/.vs
EndHelper.zip
